/* Main Navbar Styles */
.navBarBox {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #001d3d;
}

.navBarBox.dark {
    color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    background-color: #000000;
}

.navBarBox.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Left Section */
.navBarLeft {
    flex: 4;
    display: flex;
    margin: 0;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

/* Search Section */
.searchBox {
    align-items: center;
    flex: 5;
    display: flex;
}

.search-form {
    width: 100%;
    margin-left: 30%;
    display: flex;
}

.search-btn {
    margin-left: 10px;
    font-size: 12px;
    width: auto;
    background-color: #f5f5f5;
    color: #001d3d;
    border: 2px solid #001d3d;
    font-weight: bold;
    padding: 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 0;
}

.search-btn:hover {
    color: #f5f5f5;
    background-color: #001d3d;
    border: 2px solid #f5f5f5;
}

/* Logo Section */
.navBarLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    color: #f5f5f5;
}

.navBarTitle {
    color: #001d3d;
    font-size: 20px;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 10px;
}

.navBarTitle.dark {
    color: #f5f5f5;
}

/* Navbar Links */
.navBarLinks {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
}

.navBarLink {
    float: right;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    line-height: 2cm;
}

.navBarLink.dark {
    color: #f5f5f5;
}

.navBarLink:hover {
    text-decoration: underline;
}

.navBarLink.dark:hover {
    text-decoration: underline;
}

.navBarLink:active {
    background-color: #001d3d; /* Change background color on click */
    color: #f5f5f5;
}

.navBarLink.dark:active {
    background-color: #001d3d; /* Change background color in dark mode */
    color: #f5f5f5;
}

/* Center Section */
.navBarCenter {
    flex: 3;
    display: block;
    float: right;
    justify-content: flex-end;
}

/* Right Section */
.navBarRight {
    flex: 0.8;
    display: flex;
    align-items: center;
    float: right;
    justify-content: flex-end;
}

.navBarToggleButton {
    color: #000000;
    display: flex;
    align-items: center;
}

.navBarToggleButton.dark {
    color: #f5f5f5;
}
